server:
  port: 10083

spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: ${SPRING_DATASOURCE_USERNAME:root}
    url: ${SPRING_DATASOURCE_URL:jdbc:mysql://localhost:3306/pfa}
    password: ${SPRING_DATASOURCE_PASSWORD:root}
  jpa:
    generate-ddl: 'false'
    database-platform: org.hibernate.dialect.MySQL5Dialect
    hibernate:
      ddl-auto: validate
    show-sql: 'true'
  jackson:
    date-format: dd-MM-yyyy HH:mm:ss
  favicon.enabled: false

pfa:
  endpoint:
    common-service: ${COMMON_SERVICE_ENDPOINT:http://localhost:10081}
    stock-service: ${STOCK_SERVICE_ENDPOINT:http://localhost:10082}
    
---
spring:
    profiles: prod
          
server:
  port: 8080
    